/* НАЗВАНИЕ_ТЕМЫ-ЭЛЕМЕНТ-АТРИБУТ */

$color-scroll: #C7C7C7;

/* ---------- ТЕМА: "dark" ---------- */
$dark-background: #1C1C1C;
$dark-background-active: #151515;
$dark-background-hover: #283935;

$dark-description: #6B6B6B;
$dark-non-hover: #E3E3E3;

$dark-button: #16A085;
$dark-button-active: #73C6B6;
$dark-button-disable: #8E8E8E;

$dark-error: #FF2727;
$dark-link: #167DA0;

$dark-text-base: #120909;
$dark-text-placeholder1: #C7C7C7;
$dark-text-placeholder2: #898989;

/* ---------- ТЕМА: "light" ---------- */
$light-background: #FFFFFF;