$tabletMax: 1023px; // Переключение на планшетное-меню
$tabletMaxPlusOne: 1024px;
$tabletAverage: 875px;

$mobileMax: 767px; // Переключение на мобайл-меню
$mobileMaxPlusOne: 768px;
$mobileAverage: 600px;
$mobileMin: 400px;

$desktopHD: 1395px;

$mobileMapTopComponents: 450px;
$mobileRatingIconsInfo: 500px;
