@import "mixins/scroll";

* {
  margin: 0;
  padding: 0;
  font-family: Ubuntu, Helvetica, Arial, sans-serif;
}
html,
body {
  height: 100%;
  line-height: 1.15 !important;
  &.modal-open {
    overflow: hidden;
    &-mobile {
      position: fixed;
    }
  }
}
p {
  margin: 0;
  padding: 0;
}
/* Курсоры при наведении */
.c-ns-resize { /* Курсор стрелки влево-вправо */
  &:hover {
    cursor: ns-resize;
  }
}
.c-ew-resize { /* Курсор стрелки вверх-вниз */
  &:hover {
    cursor: ew-resize;
  }
}
.c-pointer { /* Курсор рука */
  &:hover {
    cursor: pointer;
  }
}

/* SCROLL */
.scrollbar-hidden {
  scrollbar-width: none; // https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-width
  @include scrollbarHidden();
}
.scrollbar-div-vert {
  @include scrollbarBase();
}
.scrollbar-div-horiz {
  @include scrollbarDivHoriz();
}

/* BUTTONS */
.c-button {
  height: 30px;
  width: 100%;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  &-text {
    font-size: 14px;
  }
  &-disabled {
    &:hover {
      cursor: not-allowed;
    }
  }
}

/* SHAPES */
.c-triangle {
  width: 0;
  height: 0;
  border-bottom: 6px solid;
  border-right: 6px solid transparent;
  transform: rotate(-135deg);
  &.open {
    transform: rotate(-45deg);
    margin-bottom: 2px;
  }
}

/* MODAL */
.c-modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  &-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
  }
  &-content {
    position: relative;
    width: 300px;
    height: 370px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .close-button {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 14px;
      height: 14px;
      opacity: .9;
      &:hover {
        opacity: 1;
      }
    }
  }
}
.color-picker-button {
  width: 232px;
  margin-top: 15px;
  z-index: 10;
}