<template>
  <div @click="setActiveElem"
       class="t-elem" :class="{active: elem.isActive}"
       :style="{'padding-left': elemPaddingLeft()}"
  >
    <div v-if="elem.type === 'folder'"
         class="t-elem__item c-triangle"
         :class="{'open': elem.isOpen}"></div>
    <!-- ICONS -->
    <img v-if="elem.type === 'folder'"
         class="t-elem__item t-elem-icon-folder" alt=""
         src="@/assets/img/icons/tree-elems/folder.svg">
    <img v-if="elem.type === 'rectangle'"
         class="t-elem__item t-elem-icon-rectangle" alt=""
         src="@/assets/img/icons/shapes/rectangle.svg">
    <img v-if="elem.type === 'circle'"
         class="t-elem__item t-elem-icon-circle" alt=""
         src="@/assets/img/icons/tree-elems/circle.svg">
    <img v-if="elem.type === 'text'"
         class="t-elem__item t-elem-icon-text" alt=""
         src="@/assets/img/icons/common/text.svg">
    <!-- TITLE -->
    <span class="t-elem__item t-elem-text vw-text-base-color">{{elem.title}}</span>
  </div>
</template>

<script>
import {mapActions} from "vuex";
import {ActiveCanvasTreeElemPayload} from "@/models/payload/ActiveCanvasTreeElemPayload";

export default {
  name: "CanvasTreeElem",
  props: ['elem'],
  created() {

  },
  computed: {

  },
  methods: {
    ...mapActions(['setActiveCanvasTreeElem']),
    elemPaddingLeft() {
      const paddingLeft = 10;
      let correction = 4;
      const level = this.elem.level;
      if (this.elem.level) {
        correction = correction * level;
        return ((level * 10) + paddingLeft + correction) + 'px';
      } else {
        return '10px';
      }
    },
    setActiveElem() {
      this.setActiveCanvasTreeElem(
          new ActiveCanvasTreeElemPayload(this.elem, false)
      );
    }
  }
}
</script>

<style scoped>

</style>