<template>
  <div>
    <div v-for="elem in elements">
      <CanvasTreeElem :elem="elem" />
      <div v-if="elem.children && elem.children.length"
           class="t-elem-children"
           :class="{hide: !elem.isOpen}"
      >
        <CanvasTreeElements :elements="elem.children" />
      </div>
    </div>
  </div>
</template>

<script>
import CanvasTreeElem from "@/components/view-case/CanvasTreeElem";

export default {
  name: "CanvasTreeElements",
  props: ['elements'],
  components: {
    CanvasTreeElem
  },
  created() {

  },
}
</script>
