<template>
  <div class="vw-element-control">
    <div v-if="elem"
         class="vw-element-control-block">
      <!--   TOP, LEFT (XY)   -->
      <div class="vw-element-control-box">
        <div class="vw-element-control__item">
          <span class="item-label">X</span>
          <div class="item-info">
            <input @keyup.enter="changeElem($event, 'left', 'leftRef')"
                   @focusout="changeElem($event, 'left')"
                   ref="leftRef"
                   :value="left"
                   class="item-info-input">
          </div>
        </div>
        <div class="vw-element-control__item">
          <span class="item-label">Y</span>
          <div class="item-info">
            <input @keyup.enter="changeElem($event, 'top', 'topRef')"
                   @focusout="changeElem($event, 'top')"
                   ref="topRef"
                   :value="top"
                   class="item-info-input">
          </div>
        </div>
      </div>
      <!--   WIDTH, HEIGHT   -->
      <div v-if="elem.type === 'rectangle' || elem.type === 'circle'"
           class="vw-element-control-box">
        <div class="vw-element-control__item">
          <span class="item-label">W</span>
          <div class="item-info">
            <input @keyup.enter="changeElem($event, 'width', 'widthRef')"
                   @focusout="changeElem($event, 'width')"
                   ref="widthRef"
                   :value="figure.width"
                   class="item-info-input">
          </div>
        </div>
        <div class="vw-element-control__item">
          <span class="item-label">H</span>
          <div class="item-info">
            <input @keyup.enter="changeElem($event, 'height', 'heightRef')"
                   @focusout="changeElem($event, 'height')"
                   ref="heightRef"
                   :value="figure.height"
                   class="item-info-input">
          </div>
        </div>
      </div>
      <!--   FILL, BORDER   -->
      <div v-if="elem.type === 'rectangle' || elem.type === 'circle'"
           class="vw-element-control-box">
        <div class="vw-element-control__item">
          <span class="item-label">F</span>
          <div @click="showColorPicker"
               class="item-info item-info-color c-pointer">
            <div class="color-picker-box"
                 :style="{'background-color': fillColor}"></div>
            <span class="color-picker-text"
            >{{(fillColor !== 'transparent') ? fillColor.toUpperCase() : ''}}</span>
          </div>
          <div v-if="fillColor !== 'transparent'"
               @click="clearFillColor"
               class="c-pointer item-info-clear-box">
            <img src="@/assets/img/icons/close.svg"
                 class="item-info-clear"
                 alt="">
          </div>
        </div>
      </div>
    </div>
    <ColorPickerModal v-if="getColorPickerIsOpen()"
                      :pickerCallback="fillPickerCallback"
                      :select-callback="fillSelectCallback"
                      :color="fillColor" />
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";
import {ChangeCanvasTreeElemPayload} from "@/models/payload/ChangeCanvasTreeElemPayload";
import ColorPickerModal from "@/components/modals/ColorPickerModal";

export default {
  name: "CanvasElementControl",
  components: {
    ColorPickerModal,
  },
  data: () => ({
    fillColor: 'transparent'
  }),
  computed: {
    elem() {
      return this.getActiveCanvasTreeElem();
    },
    figure() {
      return this.elem.figure;
    },
    top() {
      return Math.round(this.figure.top);
    },
    left() {
      return Math.round(this.figure.left);
    },
    colorPickerIsOpen() {
      return this.getColorPickerIsOpen();
    },
  },
  methods: {
    ...mapActions(['setActiveCanvasTreeElem', 'changeActiveCanvasTreeElem', 'setColorPickerIsOpen']),
    ...mapGetters(['getActiveCanvasTreeElem', 'getColorPickerIsOpen', 'getColorPickerIsOpen']),
    changeElem(e, type, ref) {
      if (this.$refs[ref]) {
        this.$refs[ref].blur();
      }
      if (this.elem) {
        this.changeActiveCanvasTreeElem(
            new ChangeCanvasTreeElemPayload(this.elem, type,
                parseInt(e.target.value))
        );
      }
    },
    showColorPicker() {
      this.setColorPickerIsOpen(true);
    },
    fillPickerCallback(color) {
      this.fillColor = color;
    },
    fillSelectCallback() {
        this.changeActiveCanvasTreeElem(
          new ChangeCanvasTreeElemPayload(this.elem, 'fill',
              this.fillColor)
        );
    },
    clearFillColor() {
      this.changeActiveCanvasTreeElem(
          new ChangeCanvasTreeElemPayload(this.elem, 'fill',
              'transparent')
      );
      this.fillColor = 'transparent';
    }
  }
}
</script>

<!--https://ru.vuejs.org/v2/guide/events.html-->