<template>
  <div class="vw-canvas-toolbar">
<!--    <img class="t-bar-icon"-->
<!--         style="margin-right: 8px;"-->
<!--         src="@/assets/img/icons/toolbar/cursor.svg">-->
    <img @click="addElemToCanvas('text')"
         class="t-bar-icon"
         :class="{ disable: !slideFile }"
         :title="iconTitle('text')"
         style="margin-right: 10px;"
         src="@/assets/img/icons/toolbar/text.svg">
    <img @click="addElemToCanvas('rect')"
         class="t-bar-icon"
         :class="{ disable: !slideFile }"
         :title="iconTitle('rect')"
         style="margin-right: 14px;"
         src="@/assets/img/icons/toolbar/rectangle.svg">
    <img @click="addElemToCanvas('circle')"
         class="t-bar-icon"
         :class="{ disable: !slideFile }"
         :title="iconTitle('rect')"
         style="margin-right: 14px;"
         src="@/assets/img/icons/toolbar/circle.svg">
    <div class="t-bar-icon-file-upload">
      <label for="toolbar-file-input">
        <img class="t-bar-icon"
             title="Добавить изображение"
             src="@/assets/img/icons/toolbar/perm_media.svg">
      </label>
      <input id="toolbar-file-input"
             accept="image/png,image/jpeg"
             type="file"
             @change=uploadImageToCanvasBg>
    </div>
  </div>
</template>

<script>
import CanvasElementsControlMixin from "@/components/mixins/CanvasElementsControlMixin";
import {mapGetters} from "vuex";

export default {
  name: "CanvasToolbar",
  mixins: [CanvasElementsControlMixin],
  computed: {
    slideFile() {
      return this.getCanvasSlideFile();
    }
  },
  methods: {
    ...mapGetters(['getCanvasSlideFile']),
    iconTitle() {
      let text = '';
      if (text === 'text') {
        text = 'Добавить текст';
      } else if (text === 'rect') {
        text = 'Добавить прямоугольник';
      } else if (text === 'circle') {
        text = 'Добавить окружность';
      }
      return !this.slideFile ? 'Необходимо добавить изображение' : text;
    },
    addElemToCanvas(elem) {
      if (this.slideFile) {
        switch (elem) {
          case 'text':
            this.addNewTextToCanvas();
            break;
          case 'rect':
            this.addNewRectToCanvas();
            break;
          case 'circle':
            this.addNewCircleToCanvas();
            break;
        }
      }
    }
  },
}
</script>

<style scoped>

</style>