<template>
  <div class="vw-slide-canvas">
    <div class="vw-canvas-block">
      <div class="vw-canvas-box"
           :class="{'vw-canvas-box-empty': !this.canvasSlideFile}">
        <canvas id="canvas"
                class="vw-canvas"
                :class="{active: this.canvasSlideFile}"
                width="1024"
                height="700"></canvas>
        <div v-if="!this.canvasSlideFile"
             class="vw-welcome-box">
          <p class="vw-welcome-text">Чтобы начать работу добавьте изображение</p>
          <div class="c-button c-button-neutral c-pointer vw-welcome-button">
            <label for="welcome-button-file-input"
                   class="vw-welcome-button-label"
                   style="display: flex;">
              <p class="c-button-text vw-welcome-button-text">Выбрать изображение</p>
              <img class="vw-welcome-button-img"
                   src="@/assets/img/icons/toolbar/perm_media.svg" />
            </label>
            <input type="file"
                   accept="image/png,image/jpeg"
                   id="welcome-button-file-input"
                   class="vw-welcome-button-input"
                   @change=uploadImageToCanvasBg>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CanvasElementsControlMixin from "@/components/mixins/CanvasElementsControlMixin";
import {mapActions, mapGetters} from "vuex";
import {ActiveCanvasTreeElemPayload} from "@/models/payload/ActiveCanvasTreeElemPayload";

export default {
  name: "SlideCanvas",
  mixins: [CanvasElementsControlMixin],
  data: () => ({
    canvas: null,
    // canvasWidth: 0,
    // canvasHeight: 0,
    canvasCoverDrawX: 0,
    canvasCoverDrawY: 0,
    canvasCoverXYScale: 1,
    resolution16x9: 1.78,
    canvasSlideFile: null
  }),
  created() {
    window.addEventListener("resize", this.resizeEvent);
    this.slideIndexUnsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'CHANGE_SLIDE_INDEX') {
        this.canvas.clear();
      }
    });
    this.unwatchBgFile = this.$store.watch(
        (state, getters) => getters.getCanvasSlideFile,
        (newValue, oldValue) => {
          const file = this.canvasSlideFile = newValue;
          if (file) {
            const self = this;
            const _canvas = this.canvas;
            const reader = new FileReader();
            reader.onload = function(f) {
              const data = f.target.result;
              fabric.Image.fromURL(data, function(img) {
                self.canvasCoverCalc(img);
                setTimeout(() => {
                  img.hasControls = false;
                  _canvas.add(img);
                  // _canvas.setBackgroundImage(img, _canvas.renderAll.bind(_canvas), {
                  //   top: self.canvasCoverDrawY,
                  //   left: self.canvasCoverDrawX,
                  //   scaleX: self.canvasCoverXYScale,
                  //   scaleY: self.canvasCoverXYScale
                  // });
                }, 50)
              });
            };
            reader.readAsDataURL(file);
          }
        },
    );
    this.unwatchCanvasTreeElems = this.$store.watch(
        (state, getters) => getters.getCanvasTreeElements,
        (newValue, oldValue) => {
          this.draw(newValue);
        },
    );
  },
  mounted() {
    const self = this;
    this.canvas = new fabric.Canvas('canvas');
    this.canvas.selection = false;
    this.setCanvasSlide(canvas);
    this.canvas.on('mouse:down', function(options) {
      if (options.target) { /* Если выбран элемент */
        const figure = options.target;
        self.setActiveCanvasTreeElem(
            new ActiveCanvasTreeElemPayload(figure, true)
        );
      } else { /* Кликнули вне элементов */
        self.clearActiveCanvasTreeElem();
      }
    });
    this.canvas.on('object:scaling', function(e) {
      const obj = e.target;
      obj.scaleX = 1;
      obj.scaleY = 1;
    });
    this.canvasCommitsUnsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'SET_ACTIVE_CANVAS_TREE_ELEM') {
        self.canvas.getObjects().forEach(function(obj) {
          if(obj && (obj.id === mutation.payload.elem.id)) {
            self.canvas.setActiveObject(obj);
            self.canvas.renderAll();
          }
        });
      } else if (mutation.type === 'CHANGE_ACTIVE_CANVAS_TREE_ELEM') {
        self.canvas.getObjects().forEach(function(obj) {
          if(obj && (obj.id === mutation.payload.elem.id)) {
            const payload = mutation.payload;
            obj.set({
              [payload.valueType]: payload.value,
            });
            self.draw(state.view_maker
                .slides[state.view_maker.slideIndex].canvasTreeElements);
          }
        });
      }
    });
  },
  beforeDestroy() {
    this.slideIndexUnsubscribe();
    this.unwatchBgFile();
    this.unwatchCanvasTreeElems();
    this.canvasCommitsUnsubscribe();
    window.removeEventListener("resize", this.resizeEvent);
  },
  computed: {
    canvasSlide() {
      return this.getCanvasSlide();
    }
  },
  methods: {
    ...mapActions(['setCanvasSlide', 'clearActiveCanvasTreeElem', 'setActiveCanvasTreeElem']),
    ...mapGetters(['getCanvasSlide', 'getCanvasTreeElements']),
    draw(elems) {
      const objects = this.canvas.getObjects();
      for (let i in objects) {
        this.canvas.remove(objects[i]);
      }
      setTimeout(() => {
        this.canvas.renderAll();
        elems.forEach(elem => {
          const figure = elem.figure;
          this.canvas.add(figure);
          if (elem.isActive) {
            this.canvas.setActiveObject(figure);
          }
        });
        setTimeout(() => {
          this.canvas.renderAll();
        }, 100);
      }, 100);

    },
    resizeEvent(e) {
      // const w = window.innerWidth;
    },
    canvasCoverCalc(img) {
      const _canvas = this.canvas;
      // if (img.width > img.height) { /* w1920 > h980 Если ширина больше высоты */
      //   const vW = img.width / _canvas.width; /* 1920 / 640 = 3 */
      //   const calcHeight = img.height / vW;
      //   this.canvasCoverXYScale = 1 / vW;
      //   this.canvasCoverDrawY = (_canvas.height - calcHeight) / 2;
      //   this.canvasCoverDrawX = 0;
      // } else { /* w720 < h1280 Если ширина меньше высоты */
      //   const vH = img.height /
      //       _canvas.height; /* 1280 / 480 = 2.6666666667 */
      //   const calcWidth = img.width / vH;
      //   this.canvasCoverXYScale = 1 / vH;
      //   this.canvasCoverDrawX = (_canvas.width - calcWidth) / 2;
      //   this.canvasCoverDrawY = 0;
      // }
    }
  },
}
</script>

<style scoped>

</style>