<template>
  <div class="vw-slide-bar scrollbar-div-vert">
    <div v-for="(slide, i) in slides"
         @click="selectSlide(i)"
         class="mini-slide-box" :class="{active: i === slideIndex}">
      <span class="mini-slide-number vw-text-base-color">{{i+1}}</span>
      <div class="mini-slide c-pointer">
        <img v-if="slide.canvasSlideFile"
             ref="imgRefs"
             class="mini-slide-img"
             alt=""
             :src="slide.canvasSlideFileBase64">
      </div>
    </div>
    <div @click="addSlide"
         class="c-button-box">
      <div class="c-button c-button-success c-pointer">
        <p class="c-button-text vw-text-base-color">Добавить</p>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
  name: "SlideBar",
  data: () => ({
    images: []
  }),
  created() {

  },
  computed: {
    slideIndex() {
      return this.getSlideIndex();
    },
    slides() {
      return this.getCanvasSlides();
    },
  },
  methods: {
    ...mapActions(['addCanvasSlide', 'selectCanvasSlide']),
    ...mapGetters(['getSlideIndex', 'getCanvasSlides']),
    selectSlide(i) {
      this.selectCanvasSlide(i);
    },
    addSlide() {
      this.addCanvasSlide();
    },
  },
}
</script>