<!-- БИБЛИОТЕКА https://narsenico.github.io/a-color-picker/ -->
<template>
  <div class="c-modal">
    <div @click="closeModal"
         class="c-modal-bg"></div>
    <div class="c-modal-content">
      <img @click="closeModal"
           src="@/assets/img/icons/close.svg"
           class="close-button c-pointer"
           alt="">
      <div class="color-box-picker"
           acp-show-rgb="no"
           acp-show-hsl="no"
           acp-show-hex="yes"
           :acp-color="color"></div>
      <div @click="addColor"
           class="c-button c-button-success c-pointer color-picker-button">
        <p class="c-button-text vw-text-base-color">Выбрать</p>
      </div>
    </div>
  </div>
</template>

<script>
import CommonMixin from "@/components/mixins/CommonMixin";
import {mapActions} from "vuex";
import {ChangeCanvasTreeElemPayload} from "@/models/payload/ChangeCanvasTreeElemPayload";

export default {
  name: "ColorPickerModal",
  props: {
    color: String,
    pickerCallback: Function,
    selectCallback: Function
  },
  mixins: [CommonMixin],
  data: () => ({
    initColor: '',
  }),
  mounted() {
    this.initColor = this.color;
    this.bodyLock(true);
    const AColorPicker = require('a-color-picker');
    AColorPicker.from('div.color-box-picker')
        .on('change', (picker, color) => {
          const selectedColor = AColorPicker.parseColor(color, 'hex');
          this.pickerCallback(selectedColor);
        });
  },
  methods: {
    ...mapActions(['setColorPickerIsOpen']),
    closeModal () {
      this.bodyLock(false);
      this.setColorPickerIsOpen(false);
      this.pickerCallback(this.initColor);
    },
    addColor() {
      this.bodyLock(false);
      this.setColorPickerIsOpen(false);
      this.selectCallback();
    }
  },
}
</script>

<style scoped>

</style>