@import "../variables/colors";

@mixin scrollbarHidden() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  &::-webkit-scrollbar-button { // кнопки края
    background: #fff;
    height: 0;
    width: 0;
  }
  &::-webkit-scrollbar-track-piece { // Фон
    background: #fff;
  }
  &::-webkit-scrollbar-thumb { // Динамический скролл
    background: #fff;
  }
}
/* Вертикальный скролл для div */
@mixin scrollbarBase() {
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-button { // кнопки края
    //background: transparent;
    //height: 30px;
  }
  &::-webkit-scrollbar-track-piece { // Фон
    background: transparent;
  }
  &::-webkit-scrollbar-thumb { // Динамический скролл
    background: $color-scroll;
  }
}
/* Горизонтальный скролл для div */
@mixin scrollbarDivHoriz() {
  &::-webkit-scrollbar {
    height: 5px;
  }
  &::-webkit-scrollbar-button { // кнопки края
    background: transparent;
    height: 0;
    width: 0;
  }
  &::-webkit-scrollbar-track-piece { // Фон
    background: transparent;
  }
  &::-webkit-scrollbar-thumb { // Динамический скролл
    background: $color-scroll;
  }
}