@mixin shadow-none() {
  --webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@mixin dark-thin-shadow() {
  --webkit-box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 1);
}
@mixin dark-thin-shadow-hover() {
  --webkit-box-shadow: 0 0 3px 0 rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0 3px 0 rgba(255, 255, 255, 1);
  box-shadow: 0 0 3px 0 rgba(255, 255, 255, 1);
}
/* BUTTONS */
@mixin button-success-shadow() {
  --webkit-box-shadow: 0 0 2px 0 rgba(22, 160, 133, 1);
  -moz-box-shadow: 0 0 2px 0 rgba(22, 160, 133, 1);
  box-shadow: 0 0 2px 0 rgba(22, 160, 133, 1);
}
@mixin button-success-shadow-hover() {
  --webkit-box-shadow: 0 0 3px 0 rgba(22, 160, 133, 1);
  -moz-box-shadow: 0 0 3px 0 rgba(22, 160, 133, 1);
  box-shadow: 0 0 3px 0 rgba(22, 160, 133, 1);
}
@mixin button-neutral-shadow() {
  --webkit-box-shadow: 0 0 2px 0 rgb(255, 255, 255, 1);
  -moz-box-shadow: 0 0 2px 0 rgb(255, 255, 255, 1);
  box-shadow: 0 0 2px 0 rgb(255, 255, 255, 1);
}
@mixin button-neutral-shadow-hover() {
  --webkit-box-shadow: 0 0 3px 0 rgb(255, 255, 255, 1);
  -moz-box-shadow: 0 0 3px 0 rgb(255, 255, 255, 1);
  box-shadow: 0 0 3px 0 rgb(255, 255, 255, 1);
}