<template>

</template>

<script>
import {mapActions} from "vuex";
import { v4 as uuidv4 } from 'uuid';
import {CanvasTreeElemModel} from "@/models/CanvasTreeElemModel";

export default {
  name: "CanvasElementsControlMixin",
  methods: {
    ...mapActions(['setCanvasSlideFile', 'addCanvasTreeElem']),
    uploadImageToCanvasBg(e) {
      const file = e.target.files[0];
      this.setCanvasSlideFile(file);
    },
    addNewTextToCanvas() {
      const id = uuidv4();
      this.addCanvasTreeElem(
          new CanvasTreeElemModel(
              id,
              0,
              'Введите ваш текст',
              'text',
              new fabric.Text('Введите ваш текст', {
                id,
                top: 200,
                left: 200,
                fontFamily: 'Ubuntu',
                fontSize: 20,
                fill: 'red',
                opacity: 1, // TODO скорее убрать отсюда и ниже
                uniScaleTransform: true,
                hasRotatingPoint: false,
              })
          )
      );
    },
    addNewRectToCanvas() {
      const id = uuidv4();
      this.addCanvasTreeElem(
          new CanvasTreeElemModel(
              id,
              0,
              'Rectangle',
              'rectangle',
              new fabric.Rect({
                id,
                width: 200,
                height: 200,
                top: 200,
                left: 200,
                fill: 'transparent',
                stroke: 'red',
                strokeWidth: 3,
                opacity: 1,
                uniScaleTransform: true,
                hasRotatingPoint: false,
                // hasControls: false,
              })
          )
      );
    },
    addNewCircleToCanvas() {
      const id = uuidv4();
      this.addCanvasTreeElem(
          new CanvasTreeElemModel(
              id,
              0,
              'Circle',
              'circle',
              new fabric.Circle({
                id,
                left: 200,
                top: 200,
                fill: 'transparent',
                stroke: 'red',
                strokeWidth: 2,
                radius: 100,
                opacity: 1,
                uniScaleTransform: true,
                hasRotatingPoint: false,
              })
          )
      );
    },
  },
}
</script>