@import "../../scss/variables/colors";
@import "../../scss/mixins/shadows";

.view-case {
  /* ---------- ТЕМА: "dark" ---------- */
  &-dark {
    background-color: $dark-background;
    /* ---------- COMMON ---------- */
    /* BUTTONS */
    .c-button-success { background-color: $dark-button; @include button-success-shadow(); }
    .c-button-success:hover { @include button-success-shadow-hover(); }
    .c-button:active { @include shadow-none(); }
    .c-button-neutral { @include button-neutral-shadow(); }
    .c-button-neutral:hover { @include button-neutral-shadow-hover(); }
    /* SHAPES */
    .c-triangle { border-bottom-color: #ffffff; }
    /* TEXT */
    .vw-text-base-color { color: #FFFFFF; }

    /* ---------- VIEW_CASE ---------- */
    .vw-left-panel { /* ------- LEFT PANEL --------- */
      position: relative;
      /* DIVIDERS */
      .divider-right { background-color: #ffffff; }
      .divider-center { background-color: #000000; }
      .divider-center-circle { background-color: #ffffff; }
      /* SLIDE_BAR_COMPONENT */
      .mini-slide { @include dark-thin-shadow(); }
      .mini-slide:hover { @include dark-thin-shadow-hover(); }
      .mini-slide-box.active { background-color: $dark-description; }
      /* CANVAS_TREE_ELEMENTS_COMPONENT */
      .canvas-tree-elems .t-elem:hover { background-color: $dark-description; }
      .canvas-tree-elems .t-elem.active { background-color: $dark-button; }
    }
    .vw-work-area { /* ------- WORK AREA --------- */
      /* CANVAS_TOOLBAR_COMPONENT */
      .vw-canvas-toolbar { background-color: $dark-background; }
      /* CANVAS_ELEMENT_CONTROL */
      .vw-element-control { background-color: $dark-background; }
    }
  }

  /* ---------- ТЕМА: "light" ---------- */
  &-light {
    background-color: $light-background;
  }
}