<template>
  <div :class="'view-case view-case-' + themeName">
    <div class="vw-left-panel">
      <div class="divider-right c-ew-resize"></div>
      <SlideBar />
      <div class="divider-center c-ns-resize">
        <div class="divider-center-circle"></div>
        <div class="divider-center-circle"></div>
        <div class="divider-center-circle"></div>
      </div>
      <div class="canvas-tree-elems">
        <CanvasTreeElements :elements="getCanvasTreeElements()" />
      </div>
    </div>
    <div class="vw-work-area scrollbar-div-vert scrollbar-div-horiz">
      <CanvasToolbar />
      <CanvasElementControl />
      <SlideCanvas />
    </div>
  </div>
</template>

<script>


import {mapActions, mapGetters} from "vuex";
import SlideBar from "@/components/view-case/SlideBar";
import CanvasTreeElements from "@/components/view-case/CanvasTreeElements";
import SlideCanvas from "@/components/view-case/SlideCanvas";
import CanvasToolbar from "@/components/view-case/CanvasToolbar";
import CanvasElementControl from "@/components/view-case/CanvasElementControl";

export default {
  name: 'ViewCase',
  components: {
    SlideBar,
    CanvasTreeElements,
    SlideCanvas,
    CanvasToolbar,
    CanvasElementControl,
  },
  data: () => ({
    elements: [
      {
        id: 1,
        title: 'Узнать стоимость',
        type: 'folder',
        isOpen: true,
        isActive: false,
        level: 0,
        children: [
          {
            id: 2,
            title: 'Rectangle',
            type: 'rectangle',
            isOpen: false,
            isActive: true,
            level: 1,
            parentId: 1,
          },
          {
            id: 3,
            title: '1',
            type: 'text',
            isOpen: false,
            isActive: false,
            level: 1,
            parentId: 1
          },
          {
            id: 4,
            title: 'Время доставки',
            type: 'folder',
            isOpen: true,
            isActive: false,
            level: 1,
            parentId: 1,
            children: [
              {
                id: 7,
                title: '2',
                type: 'text',
                isOpen: false,
                isActive: false,
                level: 2,
                parentId: 4
              },
              {
                id: 4,
                title: 'Время доставки',
                type: 'folder',
                isOpen: true,
                isActive: false,
                level: 2,
                parentId: 1,
                children: [
                  {
                    id: 7,
                    title: '2',
                    type: 'text',
                    isOpen: false,
                    isActive: false,
                    level: 3,
                    parentId: 4
                  },
                  {
                    id: 4,
                    title: 'Время доставки придоставки',
                    type: 'folder',
                    isOpen: true,
                    isActive: false,
                    level: 3,
                    parentId: 1,
                    children: [
                      {
                        id: 7,
                        title: '2',
                        type: 'text',
                        isOpen: false,
                        isActive: false,
                        level: 4,
                        parentId: 4
                      },
                    ]
                  },
                ]
              },
            ]
          },
        ],
      },
      {
        id: 6,
        title: 'Название магазина',
        type: 'folder',
        isOpen: false,
        isActive: false,
        level: 0,
      }
    ],
  }),
  created() {
    this.loadInitData();
  },
  mounted() {


  },
  computed: {
    themeName() {
      return this.getTheme();
    }
  },
  methods: {
    ...mapActions(['loadInitData']),
    ...mapGetters(['getTheme', 'getCanvasTreeElements']),

  }
}
</script>
