@import "../variables/colors";

.view-case {
  display: flex;
  width: 100%;
  height: 100vh;
  .vw-left-panel {
    width: 200px;
    height: 100%;
    .divider {
      &-right {
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        z-index: 1;

      }
      &-center {
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 2px 0;
        width: 100%;
        &-circle {
          height: 4px;
          width: 4px;
          border-radius: 50%;
          &:not(last-child) {
            margin-right: 3px;
          }
        }
      }
    }
    .vw-slide-bar { /* SLIDE BAR ---------- */
      height: 50%;
      padding-top: 15px;
      padding-bottom: 15px;
      overflow-y: auto;
      .mini-slide {
        position: relative;
        width: 145px;
        height: 85px;
        border-radius: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        &-box {
          display: flex;
          align-items: flex-start;
          margin-bottom: 10px;
          padding: 7px 25px 7px 10px;
        }
        &-number {
          margin-right: 10px;
          font-size: 14px;
        }
        &-img {
          max-width: calc(100% - 2px);
          max-height: calc(100% - 2px);
        }
      }
      .c-button {
        &-box {
          padding: 5px 13px 0 10px;
        }
      }
    }
    .canvas-tree-elems { /* CANVAS TREE ELEMENTS --------- */
      padding: 5px 0;
      overflow: auto;
      white-space: nowrap;
      .t-elem {
        display: flex;
        align-items: center;
        padding: 5px 10px; /* Отсупы слева определяются в компоненте в методе elemPaddingLeft() */
        &:hover {
          cursor: default;
        }
        &__item {
          &:not(last-child) {
            margin-right: 5px;
          }
        }
        &-icon {
          &-folder {
            width: 20px;
            height: 16px;
          }
          &-rectangle {
            width: 12px;
            height: 12px;
          }
          &-circle {
            width: 14px;
            height: 14px;
          }
          &-text {
            width: 16px;
            height: 16px;
          }
        }
        &-text {
          font-size: 14px;
        }
        &-children {
          display: flex;
          flex-direction: column;
          //padding-left: 11px;
          &.hide {
            display: none;
          }
        }
      }
    }
  }
  .vw-work-area {
    display: flex;
    flex-direction: column;
    overflow: auto;
    width: 100%;
    .vw-canvas-toolbar { /* CANVAS TOOLBAR --------- */
      position: fixed;
      display: flex;
      border-bottom: 1px solid #ffffff;
      width: 100%;
      height: 40px;
      padding: 0 20px;
      z-index: 2;
      .t-bar-icon {
        opacity: .9;
        &:hover {
          cursor: pointer;
          opacity: 1;
        }
        &-file-upload {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          input {
            display: none;
          }
        }
        &.disable {
          cursor: not-allowed;
          opacity: .9;
        }
      }
    }
    .vw-element-control { /* ELEMENT CONTROL --------- */
      position: fixed;
      top: 41px;
      border-bottom: 3px solid #ffffff;
      width: 100%;
      height: 70px;
      z-index: 2;
      &-block {
        display: flex;
      }
      &-box {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        &:first-child {
          margin-left: 15px;
        }
      }
      &__item {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 10px;
        .item-label {
          width: 20px;
          text-align: center;
          color: $dark-text-placeholder1;
          font-size: 14px;
        }
        .item-info {
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          display: flex;
          align-items: center;
          border: 1px solid $dark-text-placeholder1;
          width: 45px;
          height: 20px;
          &-input {
            font-size: 13px;
            color: #FFFFFF;
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            text-align: center;
          }
          &-color {
            position: relative;
            width: 85px;
            .color-picker {
              &-box {
                position: absolute;
                left: 1px;
                top: 1px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                border: 1px solid #ffffff;
                width: 16px;
                height: 16px;
              }
              &-text {
                color: #ffffff;
                font-size: 14px;
                margin-left: 21px;
              }
            }
          }
          &-clear {
            &-box {
              position: absolute;
              right: -17px;
              width: 14px;
              height: 14px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            width: 9px;
          }
        }
      }
    }
    .vw-slide-canvas { /* SLIDE CANVAS --------- */
      //height: calc(100% - 114px);
      height: 100%;
      //padding: 20px;
      margin-top: 114px;
      .vw-canvas {
        width: 100%;
        height: 100%;
        &-block {
          width: 100%;
          height: 70%;
        }
        &-box {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1024px;
          height: 700px;
          border-bottom: 1px white solid;
          &-empty {
            border: 1px dashed #fff;
          }
          .vw-welcome {
            &-box {
              position: absolute;
              width: 250px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              text-align: center;
            }
            &-text {
              color: #ffffff;
              font-size: 20px;
            }
            &-button {
              margin-top: 15px;
              width: 225px;
              &-label {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                &:hover {
                  cursor: pointer;
                }
              }
              &-text {
                color: #ffffff !important;
                font-size: 16px;
              }
              &-img {
                width: 20px;
                margin-left: 5px;
              }
              &-input {
                opacity: 0;
                position: absolute;
                z-index: -1;
              }
            }
          }
        }
      }
    }
  }
}